.chatUI {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
}

.chatHistory {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 16px;
    height: 400px;
}

.chatHistory ::-webkit-scrollbar {
    width: 0px;
}


/* ::-webkit-scrollbar': { width: '0px'} */

.messageOther {
    margin-bottom: 8px;
    float: left;
    clear: both;
    text-align: left;
}

.messageMe {
    margin-bottom: 8px;
    float: right;
    clear: both;
    text-align: right;
}

.messageContentOther {
    background-color: #eee;
    border-radius: 0 8px 8px 8px;
    padding: 8px;
    display: inline-block; /* add this line */
    max-width: 80%;
    word-wrap: break-word;
}

.messageContentMe {
    background-color: #91ea38;
    border-radius: 8px 0 8px 8px;
    padding: 8px;
    display: inline-block; /* add this line */
    max-width: 80%;
    word-wrap: break-word;
}

.chatForm {
    display: flex;
    padding: 16px;
}

.chatInput {
    flex-grow: 1;
    margin-right: 8px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

.chatButton {
    background-color: #0084ff;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.chatButton:hover {
    background-color: #0073e6;
}