.chatUI {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 400px;
}

.chatHistory {
    flex-grow: 1;
    overflow-y: scroll;
    padding: 16px;
    height: 400px;
    scrollbar-width: none;
}

.chatHistory::-webkit-scrollbar {
    width: 0px;
}

/* ::-webkit-scrollbar': { width: '0px'} */

.messageOther {
    border-radius: 0 8px 8px 8px;
    background-color: #eee;
    margin-bottom: 8px;
    float: left;
    clear: both;
    max-width: 80%;
    word-wrap: break-word;
}

.messageMe {
    background-color: #91ea38;
    border-radius: 8px 0 8px 8px;
    margin-bottom: 8px;
    float: right;
    clear: both;
    max-width: 80%;
    word-wrap: break-word;
}

.sender {
    /* display: inline-block; */
    width: 100%;
    text-align: left;
    color: #0073e6;
    font-size: 11px;
    padding: 5px;
    margin: 0;
    float: left;
    clear: both;
}

.messageContentOther {
    display: inline-block;
    padding: 5px;
    margin: 0;
    /* float: left; */
}

.messageContentMe {
    display: inline-block;
    padding: 5px;
    margin: 0;
}

.time_stamp {
    font-size: 9px;
    padding: 15px 5px 5px 10px;
    margin: 0;
    float: right;
    clear: both;
}

.chatForm {
    display: flex;
    padding: 16px;
}

.chatInput {
    flex-grow: 1;
    margin-right: 8px;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
}

.chatButton {
    background-color: #0084ff;
    color: white;
    border-radius: 8px;
    border: none;
    padding: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.chatButton:hover {
    background-color: #0073e6;
}